{% import 'macros.html' as macros with context %}

{% extends 'users/layout.html' %}

{% set navbar = 'packs_and_filters' %}
{% set title = 'Recipe Packs - Overview' %}

{% block component %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                {{ macros.videos('packs') }}
                <a
                    class="btn btn-success pull-right"
                    href="{{ url_for('users.packs_add') }}"
                    >
                    <span class="icon-plus"></span>
                    Add
                </a>
                <a
                    class="btn btn-success pull-right"
                    data-container="body"
                    data-html="true"
                    data-toggle="tooltip"
                    href="{{ url_for('users.packs_reset') }}"
                    title="Reset Redeemed Recipe Packs"
                    >
                    <span class="icon-star"></span>
                    Reset
                </a>
                <h1>{{ title }}</h1>
            </div>
            <p>
                You may create packs for recipes to be assigned to in this
                section. This is helpful for organizing your recipes.
            </p>
            {% if packs %}
                <form
                    action="{{ url_for('users.packs_process') }}"
                    data-caption="recipe packs"
                    method="post"
                    ng-controller="overview"
                    >
                    {{ macros.pagination({'name': 'users.packs_process', 'options': {},}, pager) }}
                    <table class="table table-hover table-striped">
                        <tr>
                            <th class="narrow center">
                                <input type="checkbox">
                            </th>
                            {{ macros.th({'name': 'users.packs_process', 'options': {},}, order_by, 'name', 'Name', '') }}
                            <th class="narrow right">Recipes</th>
                            <th class="buttons">Actions</th>
                        </tr>
                        {% for pack in packs %}
                            <tr>
                                <td class="narrow center">
                                    <input
                                        data-caption="{{ pack.name }}"
                                        name="ids"
                                        type="checkbox"
                                        value="{{ pack.id }}"
                                        >
                                </td>
                                <td>{{ pack.name }}</td>
                                <td class="narrow right">
                                    {{ pack.filters.order_by('id asc').count()|format_integer }}
                                </td>
                                <td class="buttons">
                                    <a
                                        class="btn btn-mini btn-success"
                                        href="{{ url_for('users.packs_edit', id=pack.id) }}"
                                        >
                                        <i class="icon-edit-sign"></i>
                                        Edit
                                    </a>
                                    <a
                                        class="btn btn-mini btn-danger"
                                        href="{{ url_for('users.packs_delete', id=pack.id) }}"
                                        >
                                        <i class="icon-remove-sign"></i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="form-actions">
                        <button
                            class="btn btn-danger"
                            name="submit"
                            ng-click="process($event, false)"
                            type="button"
                            >
                            <i class="icon-remove-sign"></i>
                            Delete
                        </button>
                        <button
                            class="hide"
                            name="submit"
                            type="submit"
                            value="delete"
                            >
                        </button>
                    </div>
                    {{ macros.pagination({'name': 'users.packs_process', 'options': {},}, pager) }}
                    {{ macros.overview() }}
                </form>
            {% else %}
                <div class="alert alert-error">
                    There are no packs in the database.
                </div>
            {% endif %}
            <div ng-controller="filters">
                <hr>
                <a
                    class="btn clearfix pull-right"
                    ng-click="status = true;"
                    ng-show="!status"
                    >
                    <i class="icon-cogs"></i>
                    Filter Results
                </a>
                <div class="page-header" ng-show="status">
                    <a
                        class="btn pull-right"
                        ng-click="status = false;"
                        >
                        <i class="icon-cogs"></i>
                        Hide Filters
                    </a>
                    <h1>Filters</h1>
                </div>
                <p ng-show="status">
                    You may use the following filter settings to limit
                    information displayed above to results that match your
                    criteria.
                </p>
                <hr ng-show="status">
                <form
                    action="{{ url_for('users.packs_process') }}"
                    class="form-horizontal"
                    method="post"
                    ng-show="status"
                    >
                    {{ macros.form(form) }}
                    <div class="form-actions">
                        <button
                            class="btn btn-success"
                            name="submit"
                            type="submit"
                            value="set"
                            >
                            <i class="icon-plus-sign-alt"></i>
                            Set
                        </button>
                        <button
                            class="btn btn-danger"
                            name="submit"
                            type="submit"
                            value="unset"
                            >
                            <i class="icon-minus-sign-alt"></i>
                            Unset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
