{% import 'macros.html' as macros with context %}

{% extends 'users/layout.html' %}

{% set navbar = 'templates' %}
{% set title = 'Email Templates - Add' %}

{% block component %}
    <div class="row">
        <div class="span12">
            {{ macros.errors(form) }}
            <div class="page-header">
                {{ macros.videos('templates') }}
                <h1>{{ title }}</h1>
            </div>
            <form
                action="{{ url_for('users.templates_add') }}"
                class="form-horizontal"
                enctype="multipart/form-data"
                method="post"
                >
                {{ macros.form_template(form, template.get_attachments()) }}
                <div class="form-actions">
                    <button class="btn btn-success" type="submit">
                        <i class="icon-info-sign"></i>
                        Submit
                    </button>
                    <button class="btn btn-danger" type="reset">
                        <i class="icon-trash"></i>
                        Reset
                    </button>
                </div>
                {{ macros.form_placeholders() }}
            </form>
        </div>
    </div>
{% endblock %}
