{% import 'macros.html' as macros with context %}

{% extends 'administrators/layout.html' %}

{% set navbar = 'redeemables' %}
{% set title = 'Email Templates - Overview' %}

{% block component %}
    <div class="row">
        <div class="span12">
            <div class="page-header">
                <a
                    class="btn btn-success pull-right"
                    href="{{ url_for('administrators.templates_add') }}"
                    >
                    <span class="icon-plus"></span>
                    Add
                </a>
                <h1>{{ title }}</h1>
            </div>
            {% if templates %}
                {{ macros.pagination({'name': 'administrators.templates_process', 'options': {},}, pager) }}
                <table class="table table-hover table-striped">
                    <tr>
                        {{ macros.th({'name': 'administrators.codes_process', 'options': {},}, order_by, 'id', 'ID', 'narrow right') }}
                        {{ macros.th({'name': 'administrators.templates_process', 'options': {},}, order_by, 'name', 'Name', '') }}
                        <th class="narrow right">Codes</th>
                        <th class="narrow right">Attachments</th>
                        <th class="buttons">Actions</th>
                    </tr>
                    {% for template in templates %}
                        <tr>
                            <td class="narrow right">{{ template.id }}</td>
                            <td>{{ template.name }}</td>
                            <td class="narrow right">
                                {{ template.codes.count()|format_integer }}
                            </td>
                            <td class="narrow right">
                                {{ template.get_attachments()|length|format_integer }}
                            </td>
                            <td class="buttons">
                                <a
                                    class="btn btn-mini btn-success"
                                    href="{{ url_for('administrators.templates_edit', id=template.id) }}"
                                    >
                                    <i class="icon-edit-sign"></i>
                                    Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ macros.pagination({'name': 'administrators.templates_process', 'options': {},}, pager) }}
            {% else %}
                <div class="alert alert-error">
                    There are no email templates in the database.
                </div>
            {% endif %}
            <hr>
            <div class="page-header">
                <h1>Filters</h1>
            </div>
            <form
                action="{{ url_for('administrators.templates_process') }}"
                class="form-horizontal"
                method="post"
                >
                {{ macros.form(form) }}
                <div class="form-actions">
                    <button
                        class="btn btn-success"
                        name="submit"
                        type="submit"
                        value="set"
                        >
                        <i class="icon-plus-sign-alt"></i>
                        Set
                    </button>
                    <button
                        class="btn btn-danger"
                        name="submit"
                        type="submit"
                        value="unset"
                        >
                        <i class="icon-minus-sign-alt"></i>
                        Unset
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
